# Python Data Types

### 1. Numeric

#### int

In [1]:
value = 5

In [2]:
value

5

In [3]:
print(type(value))

<class 'int'>

In [5]:
a = 6 + 4
b = 6 * 4
c = 6 / 4

print(a, b, c)

10 24 1.5

#### long

In [7]:
longValue = 5 * 1000000 * 1000000 * 1000000
print(longValue)
print(type(longValue))

5000000000000000000
<class 'int'>

#### float

In [9]:
print(type(4.2))

<class 'float'>

In [11]:
print(type(4./2))
print(10./3)

<class 'float'>
3.3333333333333335

#### bool

In [13]:
print(type(True))

<class 'bool'>

In [14]:
true = True
false = False

print(true, false)

True False

In [15]:
print(True and True)
print(True or False)
print(True and False)

True
True
False

### 2. None

In [16]:
noneValue = None
print(noneValue)

None

In [17]:
print(type(noneValue))

<class 'NoneType'>

### 3. String

In [19]:
name = "Ivan"
lastName = "Magda"
fullname = name + " " + lastName
print(fullname)

Ivan Magda

In [21]:
fullname.upper()

'IVAN MAGDA'

In [24]:
print("Length of the string:", fullname, "=", len(fullname))

Length of the string: Ivan Magda = 10

In [25]:
print(name[0])
print(fullname[0:])

I
Ivan Magda

In [26]:
print(fullname[1:5])

van

In [27]:
print(fullname[0:6:2])

Ia

### 4. Array

#### list

In [28]:
array = [100, 3223, 532, 52]
array

[100, 3223, 532, 52]

In [29]:
print(type(array))

<class 'list'>

In [30]:
print(array[:2])

[100, 3223]

In [32]:
print(array[:-2])

[100, 3223]

In [33]:
del array[-1]

In [34]:
print(array)

[100, 3223, 532]

#### tuple

In [35]:
tupleValue = ("Ivan", "Magda", "Russia")
tupleValue

('Ivan', 'Magda', 'Russia')

In [36]:
print(type(tupleValue))

<class 'tuple'>

In [38]:
print(tupleValue[0:2])

('Ivan', 'Magda')

### 5. Map & Set

#### set

In [41]:
names = {"Ivan", "Denis", "Tolya"}
names

{'Denis', 'Ivan', 'Tolya'}

In [42]:
"Ivan" in names

True

In [43]:
print(type(names))

<class 'set'>

In [44]:
a = range(10000)
b = range(10000)
b = set(b)

In [45]:
print(a[:5])
print(a[-5:])

range(0, 5)
range(9995, 10000)

In [46]:
%%time
print(9999 in a)

True
CPU times: user 48 µs, sys: 0 ns, total: 48 µs
Wall time: 62 µs

In [47]:
%%time
print(9999 in b)

True
CPU times: user 44 µs, sys: 8 µs, total: 52 µs
Wall time: 56 µs

#### dict

In [48]:
freq = dict()
freq['i'] = 1
freq['v'] = 1
freq['i'] += 1

print(freq)

{'v': 1, 'i': 2}